
@{
    ViewData["Title"] = "Index";
}

<h1>Login</h1>
@if(ViewBag.error != null)
{
    <h4 style="color:red">@ViewBag.error</h4>
}
<form asp-action="Login" asp-controller="Account">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" value="" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text" name="password" value="" /></td>
        </tr>
        <tr>
            <td><input type="submit" name="Login" value="Login" /></td>
        </tr>
</table></form>
