<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        table tr:first-child{
            height: 200px;
            width:100%;
        }

        table tr:last-child {
            height: 200px;
            width: 100%;
        }

        table tr:nth-child(1) {
            height: 800px;
            width: 100%;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td colspan="2" style="background-color:chocolate"></td>
        </tr>
        <tr>
            <td style="width:30%; background-color:brown"></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="background-color:darkslateblue">Copyright by @@Me 2024.</div>
            </td>
        </tr>
    </table>
    <div>
        @RenderBody()
    </div>
</body>
</html>
